<!DOCTYPE html>
<html lang="en">
<head>
  <title>Livros</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="icon" href="https://www.absoluteozone.com/images/printed-matter-books-icon.png">
  <script src="httpss://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="httpss://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Controle</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">                
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gerenciar <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/produtos">Livros</a></li>            
          </ul>
        </li>
      </ul>      
    </div>
  </div>
</nav>

<div class="container">
  <h2>Livros</h2>
  <p>Listagem de livros cadastrados</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Preco</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <%for(var i=0;i<lista.length;i++) {%>         
          <tr>
            <td><%=lista[i].id%></td>
            <td><%=lista[i].titulo%></td>
            <td><%=lista[i].descricao%></td>
            <td><%=lista[i].preco%></td>
            <td>
            <!--form action='/produtos/remove=id?' +  method='post'><input type='submit' value='X'></form-->
            <button type="button" class="btn btn-default btn-sm" onclick="deleteProduct(<%=lista[i].id%>)" data-toggle="modal" data-target="#myModal">
              <span class="glyphicon glyphicon-remove-sign"></span> Remove
            </button>
            </td>            
          </tr>
        <%}%>         
      </tr>
      <script type="text/javascript">
      var socket = io();
        socket.on('novaPromocao', function (data) {
            alert(data.livro.id);
        });

      </script>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12"><span class="pull-right"><a href="/produtos/form" class="btn btn-info" role="button">Cadastrar</a> </span></div>
  </div>
</div>



</body>


<script text="text/javascript">
function deleteProduct(x) {
 var id = x;
 //$.post('/produtos/remove',pId); 
$.ajax({
    url: '/produtos/remove', 
    type: 'POST', 
    contentType: 'application/json', 
    data: JSON.stringify({id})   

  }
)}
</script>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Exclusão</h4>
        </div>
        <div class="modal-body">
          <p>Livro excluído com sucesso</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<script type="text/javascript">
  
$('#myModal').on('hidden.bs.modal', function () {
    location.reload();
});

</script>

</html>
